.ipynb_checkpoints
*/.ipynb_checkpoints/*
01. homelessness.csv
*/01. homelessness.csv/*
02. top2018.csv
*/02. top2018.csv/*
03. sales_subset.csv
*/03. sales_subset.csv/*
04. temperatures.csv
*/04. temperatures.csv/*
05. police.csv
*/05. police.csv/*
melb_data.csv
*/melb_data.csv/*
